<div class= "container">
    <header class="header">
        <h1>Stock</h1>
        <p>Register and visualize stock available</p>
    </header>

    <section class="card form-section">
        <h2>New Product</h2>
        <form class="form-grid" [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="code">Product Code</label>
                <input type="text" id="code" formControlName="code" placeholder="Ex: PRD004" autocomplete="off">
            </div>
            
            <div class="input-group">
                <label for="description">Product Description</label>
                <input type="text" id="description" formControlName="description" placeholder="Ex: Keyboard" autocomplete="off">
            </div>

           <div class="input-group">
                <label for="balance">Balance (Quantity)</label>
                <input type="number" id="balance" formControlName="balance" placeholder="0">
           </div>
            <button type="submit" class="btn-primary" [disabled]="productForm.invalid">Save Product</button>
        </form>
    </section>

    <section class="card table-section">
        <h2>Registered Products</h2>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>description</th>
                    <th>balance</th>
                </tr>
            </thead>
            <tbody id="stock-table-body">
                 @for (product of products; track product.code) {
                 <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.balance }}</td>
                 </tr>
                 } @empty {
                    <tr>
                     <td colspan="3" style="text-align: center;">No products found</td>
                    </tr>
                 }
            </tbody>
        </table>
    </section>
</div>